/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: KNEADDATA_DATABASE {
        storeDir = "${params.database_dir}"
    }

    withName: KNEADDATA_KNEADDATA {
        publishDir = [
            path: { "${params.outdir}/01_READ_PREPROCESSING/01_kneaddata" } ,
            pattern: '*paired_{1,2}.fastq.gz' ,
        ]
    }

    withName: KNEADDATA_COMBINEREADCOUNTS {
        publishDir = [
            path: { "${params.outdir}/01_READ_PREPROCESSING/" } ,
            pattern: 'combined_read_count_table.tsv'
        ]
    }

    withName: METAPHLAN_DATABASE {
        storeDir = "${params.database_dir}"
    }

    withName: METAPHLAN_METAPHLAN {
        publishDir = [
            path: { "${params.outdir}/02_TAXONOMIC_PROFILING/01_metaphlan" } ,
            pattern: 'combined_metaphlan_profile.txt'
        ]
    }

    withName: METAPHLAN_MERGETABLES {
        publishDir = [
            path: { "${params.outdir}/02_TAXONOMIC_PROFILING/" } ,
            pattern: 'combined_metaphlan_profile.txt'
        ]
    }

    withName: HUMANN_CHOCOPHLANDB {
        storeDir = "${params.database_dir}"
    }

    withName: HUMANN_UNIREFDB {
        storeDir = "${params.database_dir}"
    }

    withName: HUMANN_UTILITYMAPPINGDB {
        storeDir = "${params.database_dir}"
    }

    withName: HUMANN_HUMANN {
        publishDir = [
            path: { "${params.outdir}/03_FUNCTIONAL_PROFILING/" } ,
            pattern: '*.tsv'
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
