/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: KNEADDATA_DATABASE {
        ext.args = [
            "${params.kneaddata_db_type}"
        ].join(' ').trim()
        storeDir = "${params.database_dir}"
    }

    withName: KNEADDATA_KNEADDATA {
        ext.args = [
            params.bypass_trim ? "--bypass-trim" : "",
            params.run_trim_repetitive ? "--run-trim-repetitive" : "",
            "--trimmomatic ${params.trimmomatic_path}",
            "--trimmomatic-options ${params.trimmomatic_options}",
            "--sequencer-source ${params.sequencer_source}",
            "--decontaminate-pairs ${params.decontaminate_pairs}",
            params.bypass_trf ? "--bypass-trf" : "",
            "--trf ${params.trf_path}",
            "--match ${params.match}",
            "--mismatch ${params.mismatch}",
            "--delta ${params.delta}",
            "--pm ${params.pm}",
            // "--pi ${params.pi}",
            "--minscore ${params.minscore}",
            "--maxperiod ${params.maxperiod}",
            params.store_temp_output ? "--store-temp-output" : "",
            params.remove_intermediate_output ? "--remove-intermediate-output" : ""
        ].join(' ').trim()
            "--bowtie2-options ${params.bowtie2_options}"
        publishDir = [
            path: { "${params.outdir}/01_READ_PREPROCESSING/01_kneaddata" } ,
            mode: params.publish_dir_mode ,
            pattern: '*paired_{1,2}.fastq.gz'
        ]
    }

    withName: KNEADDATA_COMBINEREADCOUNTS {
        publishDir = [
            path: { "${params.outdir}/01_READ_PREPROCESSING/" } ,
            mode: params.publish_dir_mode ,
            pattern: 'combined_read_count_table.tsv'
        ]
    }

    withName: METAPHLAN_DATABASE {
        storeDir = "${params.database_dir}"
    }

    withName: METAPHLAN_METAPHLAN {
        ext.args = [
            "--min_mapq_val ${params.min_mapq_val}",
            "--tax_lev ${params.tax_lev}",
            "--min_cu_len ${params.min_cu_len}",
            "--min_alignment_len ${params.min_alignment_len}",
            params.add_viruses ? "--add_viruses" : "",
            params.ignore_eukaryotes ? "--ignore_eukaryotes" : "",
            params.ignore_bacteria ? "--ignore_bacteria" : "",
            params.ignore_archaea ? "--ignore_archaea" : "",
            params.ignore_ksgbs ? "--ignore_ksgbs" : "",
            params.ignore_usgbs ? "--ignore_usgbs" : "",
            "--stat_q ${params.stat_q}",
            "--perc_nonzero ${params.perc_nonzero}",
            params.ignore_markers ? "--ignore_markers ${params.file_w_markers_to_ignore}" : "",
            params.avoid_disqm ? "--avoid_disqm" : "",
            "--stat ${params.stat}",
            "-t ${params.t}",
            params.unclassified_estimation ? "--unclassified_estimation" : "",
        ].join(' ').trim()
            "--bt2_ps ${params.bt2_ps}"
        publishDir = [
            path: { "${params.outdir}/02_TAXONOMIC_PROFILING/01_metaphlan" } ,
            mode: params.publish_dir_mode ,
            pattern: 'combined_metaphlan_profile.txt'
        ]
    }

    withName: METAPHLAN_MERGETABLES {
        publishDir = [
            path: { "${params.outdir}/02_TAXONOMIC_PROFILING/" } ,
            mode: params.publish_dir_mode ,
            pattern: 'combined_metaphlan_profile.txt'
        ]
    }

    withName: HUMANN_CHOCOPHLANDB {
        storeDir = "${params.database_dir}"
    }

    withName: HUMANN_UNIREFDB {
        storeDir = "${params.database_dir}"
    }

    withName: HUMANN_UTILITYMAPPINGDB {
        storeDir = "${params.database_dir}"
    }

    withName: HUMANN_HUMANN {
        ext.args = [
            params.bypass_nucleotide_search ? "--bypass-nucleotide-search" : "",
            params.bypass_prescreen ? "--bypass-prescreen" : "",
            "--prescreen-threshold ${params.prescreen_threshold}",
            "--nucleotide-identity-threshold ${params.nucleotide_identity_threshold}",
            "--nucleotide-query-coverage-threshold ${params.nucleotide_query_coverage_threshold}",
            "--nucleotide-subject-coverage-threshold ${params.nucleotide_subject_coverage_threshold}",
            params.bypass_translated_search ? "--bypass-translated-search" : "",
            "--evalue ${params.evalue}",
            "--translated-query-coverage-threshold ${params.translated_query_coverage_threshold}",
            "--translated-subject-coverage-threshold ${params.translated_subject_coverage_threshold}",
            "--gap-fill ${params.gap_fill}",
            "--minpath ${params.minpath}"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/03_FUNCTIONAL_PROFILING/01_humann" } ,
            mode: params.publish_dir_mode ,
            pattern: '*.tsv'
        ]
    }

    withName: HUMANN_REGROUP {
        publishDir = [
            path: { "${params.outdir}/03_FUNCTIONAL_PROFILING/02_regroup" } ,
            mode: params.publish_dir_mode ,
            pattern: "*.tsv"
        ]
    }

    withName: HUMANN_REGROUPJOINTABLES {
        publishDir = [
            path: { "${params.outdir}/03_FUNCTIONAL_PROFILING/" } ,
            mode: params.publish_dir_mode ,
            pattern: "*.tsv"
        ]
    }

    withName: HUMANN_REGROUPRENORM {
        publishDir = [
            path: { "${params.outdir}/03_FUNCTIONAL_PROFILING/02_regroup" } ,
            mode: params.publish_dir_mode ,
            pattern: "*.tsv"
        ]
    }

    withName: HUMANN_JOINTABLES {
        publishDir = [
            path: { "${params.outdir}/03_FUNCTIONAL_PROFILING/" } ,
            mode: params.publish_dir_mode ,
            pattern: '*.tsv'
        ]
    }

    withName: HUMANN_RENORM {
        publishDir = [
            path: { "${params.outdir}/03_FUNCTIONAL_PROFILING/01_humann" } ,
            mode: params.publish_dir_mode ,
            pattern: '*.tsv'
        ]
    }

    withName: HUMANN_RENORMJOINTABLES {
        publishDir = [
            path: { "${params.outdir}/03_FUNCTIONAL_PROFILING" } ,
            mode: params.publish_dir_mode ,
            pattern: '*.tsv'
        ]
    }

    

    // withName: STRAINPHLAN_EXTRACTMARKERS {
    //     storeDir = "${params.database_dir}/strainphlan_databases"
    // }

    // withName: STRAINPHLAN_STRAINPHLAN {
    //     publishDir = [
    //         path: { "${params.outdir}/04_STRAIN_PROFILING/" } ,
    //         mode: params.publish_dir_mode ,
    //         pattern: '*'
    //     ]
    // }

    // withName: PANPHLAN_DOWNLOADPANGENOME {
    //     storeDir = "${params.database_dir}"
    // }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
